@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title_space"> </div>

	<div class="ascii_chart">
		<h1>Ascii Chart</h1>


		<h2>Punctuation and Numbers</h2>
		<table>
			<tr class="header_row">
				<th>Operator</th>
				<th>Value</th>
			</tr>

			<tr class="even_row"><th>[Space]</th><th>32</th></tr>
			<tr class="odd_row"><th>!</th><th>33</th></tr>
			<tr class="even_row"><th>"</th><th>34</th></tr>
			<tr class="odd_row"><th>#</th><th>35</th></tr>
			<tr class="even_row"><th>$</th><th>36</th></tr>
			<tr class="odd_row"><th>%</th><th>37</th></tr>
			<tr class="even_row"><th>&</th><th>38</th></tr>
			<tr class="odd_row"><th>'</th><th>39</th></tr>
			<tr class="even_row"><th>(</th><th>40</th></tr>
			<tr class="odd_row"><th>)</th><th>41</th></tr>
			<tr class="even_row"><th>*</th><th>42</th></tr>
			<tr class="odd_row"><th>+</th><th>43</th></tr>
			<tr class="even_row"><th>,</th><th>44</th></tr>
			<tr class="odd_row"><th>-</th><th>45</th></tr>
			<tr class="even_row"><th>.</th><th>46</th></tr>
			<tr class="odd_row"><th>/</th><th>47</th></tr>
			<tr class="even_row"><th>0</th><th>48</th></tr>
			<tr class="odd_row"><th>1</th><th>49</th></tr>
			<tr class="even_row"><th>2</th><th>50</th></tr>
			<tr class="odd_row"><th>3</th><th>51</th></tr>
			<tr class="even_row"><th>4</th><th>52</th></tr>
			<tr class="odd_row"><th>5</th><th>53</th></tr>
			<tr class="even_row"><th>6</th><th>54</th></tr>
			<tr class="odd_row"><th>7</th><th>55</th></tr>
			<tr class="even_row"><th>8</th><th>56</th></tr>
			<tr class="odd_row"><th>9</th><th>57</th></tr>
			<tr class="even_row"><th>:</th><th>58</th></tr>
			<tr class="odd_row"><th>;</th><th>59</th></tr>
			<tr class="even_row"><th>&lt;</th><th>60</th></tr>
			<tr class="odd_row"><th>=</th><th>61</th></tr>
			<tr class="even_row"><th>&gt;</th><th>62</th></tr>
			<tr class="odd_row"><th>?</th><th>63</th></tr>
			<tr class="even_row"><th>@@</th><th>64</th></tr>
		</table>
		<div class="section_split"></div>

		<h2>Capital Letters</h2>
		<table>
			<tr class="header_row">
				<th>Operator</th>
				<th>Value</th>
			</tr>

			<tr class="odd_row"><th>A</th><th>65</th></tr>
			<tr class="even_row"><th>B</th><th>66</th></tr>
			<tr class="odd_row"><th>C</th><th>67</th></tr>
			<tr class="even_row"><th>D</th><th>68</th></tr>
			<tr class="odd_row"><th>E</th><th>69</th></tr>
			<tr class="even_row"><th>F</th><th>70</th></tr>
			<tr class="odd_row"><th>G</th><th>71</th></tr>
			<tr class="even_row"><th>H</th><th>72</th></tr>
			<tr class="odd_row"><th>I</th><th>73</th></tr>
			<tr class="even_row"><th>J</th><th>74</th></tr>
			<tr class="odd_row"><th>K</th><th>75</th></tr>
			<tr class="even_row"><th>L</th><th>76</th></tr>
			<tr class="odd_row"><th>M</th><th>77</th></tr>
			<tr class="even_row"><th>N</th><th>78</th></tr>
			<tr class="odd_row"><th>O</th><th>79</th></tr>
			<tr class="even_row"><th>P</th><th>80</th></tr>
			<tr class="odd_row"><th>Q</th><th>81</th></tr>
			<tr class="even_row"><th>R</th><th>82</th></tr>
			<tr class="odd_row"><th>S</th><th>83</th></tr>
			<tr class="even_row"><th>T</th><th>84</th></tr>
			<tr class="odd_row"><th>U</th><th>85</th></tr>
			<tr class="even_row"><th>V</th><th>86</th></tr>
			<tr class="odd_row"><th>W</th><th>87</th></tr>
			<tr class="even_row"><th>X</th><th>88</th></tr>
			<tr class="odd_row"><th>Y</th><th>89</th></tr>
			<tr class="even_row"><th>Z</th><th>90</th></tr>
		</table>
		<div class="section_split"></div>

		<h2>Punctuation 2</h2>
		<table>
			<tr class="header_row">
				<th>Operator</th>
				<th>Value</th>
			</tr>

			<tr class="odd_row"><th>[</th><th>91</th></tr>
			<tr class="even_row"><th>\</th><th>92</th></tr>
			<tr class="odd_row"><th>]</th><th>93</th></tr>
			<tr class="even_row"><th>^</th><th>94</th></tr>
			<tr class="odd_row"><th>_</th><th>95</th></tr>
			<tr class="even_row"><th>`</th><th>96</th></tr>
		</table>
		<div class="section_split"></div>

		<h2>Lowercase Letters</h2>
		<table>
			<tr class="header_row">
				<th>Operator</th>
				<th>Value</th>
			</tr>

			<tr class="odd_row"><th>a</th><th>97</th></tr>
			<tr class="even_row"><th>b</th><th>98</th></tr>
			<tr class="odd_row"><th>c</th><th>99</th></tr>
			<tr class="even_row"><th>d</th><th>100</th></tr>
			<tr class="odd_row"><th>e</th><th>101</th></tr>
			<tr class="even_row"><th>f</th><th>102</th></tr>
			<tr class="odd_row"><th>g</th><th>103</th></tr>
			<tr class="even_row"><th>h</th><th>104</th></tr>
			<tr class="odd_row"><th>i</th><th>105</th></tr>
			<tr class="even_row"><th>j</th><th>106</th></tr>
			<tr class="odd_row"><th>k</th><th>107</th></tr>
			<tr class="even_row"><th>l</th><th>108</th></tr>
			<tr class="odd_row"><th>m</th><th>109</th></tr>
			<tr class="even_row"><th>n</th><th>110</th></tr>
			<tr class="odd_row"><th>o</th><th>111</th></tr>
			<tr class="even_row"><th>p</th><th>112</th></tr>
			<tr class="odd_row"><th>q</th><th>113</th></tr>
			<tr class="even_row"><th>r</th><th>114</th></tr>
			<tr class="odd_row"><th>s</th><th>115</th></tr>
			<tr class="even_row"><th>t</th><th>116</th></tr>
			<tr class="odd_row"><th>u</th><th>117</th></tr>
			<tr class="even_row"><th>v</th><th>118</th></tr>
			<tr class="odd_row"><th>w</th><th>119</th></tr>
			<tr class="even_row"><th>x</th><th>120</th></tr>
			<tr class="odd_row"><th>y</th><th>121</th></tr>
			<tr class="even_row"><th>z</th><th>122</th></tr>
		</table>
		<div class="section_split"></div>

		<h2>Punctuation 3</h2>
		<table>
			<tr class="header_row">
				<th>Operator</th>
				<th>Value</th>
			</tr>

			<tr class="odd_row"><th>{</th><th>123</th></tr>
			<tr class="even_row"><th>|</th><th>124</th></tr>
			<tr class="odd_row"><th>}</th><th>125</th></tr>
			<tr class="even_row"><th>~</th><th>126</th></tr>
		</table>
	</div>
</root>

@code
{
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( "" );
}
