Documentation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-weight: bold;
	flex-direction: column;
	padding: 20px;

	.title_space {
		height: 11%;
	}

	.docs {
		width: 25%;
		height: 89%;
		margin-left: 1%;
		margin-right: 1%;
		flex-direction: column;
		font-family: Consolas;
		overflow: scroll;
		pointer-events: all;

		h1 {
			font-size: 42px;
			margin: 5px;
			margin-left: 0px;
			flex-shrink: 0;
		}

		h2 {
			font-size: 36px;
			margin-left: 10px;
			flex-shrink: 0;
		}

		p {
			font-size: 22px;
			margin: 12px;
			margin-left: 20px;
			flex-shrink: 0;
		}

		.section_split {
			margin: 15px;
			margin-top: 25px;
		}

		.elab {
			font-size: 20px;
			margin: 15px;
			margin-top: 0px;
			margin-bottom: 5px;
			margin-left: 60px;
			white-space: pre;
			flex-shrink: 0;
		}

		.elab_attachment {
			font-size: 20px;
			margin: 15px;
			margin-top: 0px;
			margin-left: 59px;
			white-space: pre;
			flex-shrink: 0;
		}
	}
}
